.row .kotak-info
{
  height: 120px;
  border-radius: 2px;
  position: relative;
}
/*margin : top right bot left*/
.row .kotak-info .kotak-icon{
  font-size: 70px;
  color: white;
  margin-top: 10px;
  margin-left: 145px;
}
.row .kotak-info .kotak-teks{
  font-size: 20px;
  color: white;
  top: 60px;
  margin-left: 10px;
  position: absolute;
}
.row .kotak-info .kotak-angka{
  font-size: 40px;
  color: white;
  top: 10px;
  margin-left: 10px;
  position: absolute;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.row .kotak-info .detail{
  font-size: 12px;
  color: white;
  top: 100px;
  left: 20px;
  text-decoration: none;
  position: absolute;
  font-family: 'Roboto', sans-serif;
}
.row .kotak-info .detail:hover{
 left: 22px;
}

.kotak-warna-1{
  background-color: #38B449;
}
.kotak-warna-2{
  background-color: #D93928;
}
.kotak-warna-3{
  background-color: #27A9E1;
}
.kotak-warna-4{
  background-color: #F8ED31;
}


