#tabel-data{
	margin-top: 10px;
	overflow-x: scroll;
}
#popup{
	position: fixed;
	visibility: hidden;
	top: 50px;
	left: 300px;
}
#popup:target{
	visibility: visible;
}
.window{
	position: absolute;
	background: white;
	border: 1px solid grey;
	width: 700px;
	height: 500px;
	padding:10px 10px 10px 10px;
	border-radius: 20px;
	box-shadow: -3px -3px 2px rgba(0,0,0,0.4);
}
button a{
	color: white;
	text-decoration: none;
}
button a:hover{
	color: white;
	text-decoration: none;
}